{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class="relative overflow-hidden">
  <img
    src="{% static 'assets/image6.png' %}"
    alt=""
    class="fixed inset-0 w-full h-full object-cover blur-3xl scale-110 -z-10 opacity-50"
    aria-hidden="true"
  />

  <div class="flex items-center justify-center -mt-[10px]">
    <div class="mx-auto py-4 max-w-md space-y-4 max-[380px]:w-auto min-[375px]:w-[380px]">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>

        <p class="mt-4 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et libero nulla eaque error neque
          ipsa culpa autem, at itaque nostrum!
        </p>
      </div>

      <form action="" class="mx-auto mb-0 mt-8 max-w-md space-y-4" method="post">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="flex items-center justify-between max-[375px]:flex-col ">
          <button type="submit" class="inline-block min-[376px]:hidden w-1/2 min-[540px]:max-w-[220px] mt-6 max-[376px]:w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign in</button>
          <p class="text-sm text-gray-500 md:mt-6 max-[375px]:mt-3 min-[540px]:mt-6 text-sm sm:mt-6 mt-6">
            No account?
            <a class="underline" href="{% url "register" %}">Sign up</a>
          </p>
          <button type="submit" class="inline-block hidden md:block w-1/2 min-[376px]:block min-[540px]:max-w-[220px] mt-6 max-[375px]:w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% comment %} <footer class="w-full mt-8 flex justify-center items-center py-4">
  <img
    src="{% static 'assets/logologo.png' %}"
    alt=""
    class="absolute bottom-8 xl:bottom-12 w-auto h-20 "
    aria-hidden="true"
  />
</footer> {% endcomment %}
{% endblock content %}
